@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
    --color-accent: var(--color-ctp-lavender);
    --color-accent2: var(--color-ctp-mauve);
}

body {
    background: var(--color-ctp-base);
    color: var(--color-ctp-text);
}

a, a:visited {
    color: var(--color-accent);
}

header a, header a:visited {
    color: var(--color-accent2);
}

h1 {
    font-size: 3rem;
    @apply font-semibold;
}

h2 {
    font-size: 2.25rem;
}

@keyframes pulsing-text {
    from {
        color: var(--color-accent);
    }
    to {
        color: var(--color-accent2);
    }
}